@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --color-primary-50: #fdf8f5;
    --color-primary-100: #faecdf;
    --color-primary-200: #f4dabe;
    --color-primary-300: #ecbc94;
    --color-primary-400: #df9765;
    --color-primary-500: #c76523; /* Your Base Color */
    --color-primary-600: #a34e1a;
    --color-primary-700: #833d17;
    --color-primary-800: #6a3318;
    --color-primary-900: #572a16;
    --color-primary-950: #31150a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
